/* CUSTOM PROPS */
:root{
    --font-family-text:"Alata", "Arial", sans-serif;
    --font-family-heading:"Josefin Sans", "Arial", sans-serif;
    --white-color:#fff;
    --background-color:#f2f2f2;
    --black-color:#000;
}

/* FONTS */
@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/") format("woff2"),
        url("../fonts/JosefinSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Alata";
    src: url("../fonts/Alata-Regular.woff2") format("woff2"),
        url("../fonts/Alata-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing:inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    font-family: var(--font-family-text);
    background-color: var(--white-color);
    color: rgba(0, 0, 0, 0.5);
}

img{
    max-width: 100%;
    height: auto;
}

*:focus{
    outline: 2px dotted #a944c8;
    outline-offset: 3px;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
    background-color: var(--background-color);
}


.site-header-hero-wrapper {
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: var(--black-color);
}


/* HERO */
.site-header {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-right: 115px;
    padding-left: 115px;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
}

.site-header-link {
    flex-shrink: 0;
    display: flex;
    text-decoration: none;
    margin-right: auto;
    transition: opacity 0.4s ease;
}

.site-header-link:hover{
    opacity: 0.8;
}

.site-header-link:active{
    opacity: 0.6;
}

.site-header-img {
    display: block;
    width: 192px;
    height: 32px;
    object-fit: contain;
}

.site-header-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 24px;
}

.site-header-item:not(:last-child) {
    margin-right: 32px;
}

.sitenav-link {
    display: block;
    color: var(--white-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s ease;
}

.sitenav-link:hover{
    border-bottom: 2px solid var(--background-color);
}

.sitenav-link:active{
    opacity: 0.6;
}

/* OFFER */
.site-header-offer {
    width: 640px;
    border: 2px solid var(--white-color);
    margin-bottom: 82px;

}
.site-header-offer-content {
    padding: 40px;
}

.site-header-offer-heading {
    font-weight: 300;
    font-size: 72px;
    line-height: 70px;
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0;
}


/* MAIN-TOP */
.promo {
    padding-top: 160px;
    padding-bottom: 92px;
}

.promo-container{
    display: flex;
    align-items: flex-end;
}

.promo-img{
    flex-shrink: 0;
    width: 731px;
    height: 500px;
    object-fit: cover;
}

.promo-info {
    width: 541px;
    padding-top: 96px;
    padding-left: 96px;
    margin-left: -161px;
    background-color: var(--white-color);
    color: var(--black-color);
}

.promo-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    font-family: var(--font-family-heading);
}

.promo-text {
    margin: 0;
    opacity: 0.5;
}


/* MAIN-BOTTOM */
.main-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 184px;
    padding-bottom: 184px;
}

.main-bottom-title {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 80px;
}

.main-bottom-heading {
    margin: 0;
    margin-right: auto;
    font-family: var(--font-family-heading);
    font-weight: 300;
    font-size: 48px;
    line-height: 48px;
    color: var(--black-color);
    text-transform: uppercase;
}

.main-buttom-link {
    display: block;
    padding: 13px 43px;
    text-decoration: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    border:1px solid var(--black-color);
    color: var(--black-color);
    cursor: pointer;
    transition:background-color 0.4s ease, color  0.4s ease;
}

.main-buttom-link:hover{
    background-color:var(--black-color);
    color: var(--white-color);
}

.main-bottom-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: -30px;
    list-style: none;
}

.main-bottom-item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}

.main-bottom-item:hover{
    background-color: rgba(255, 255, 255, 0.75071);
    opacity: 0.75;
}

.main-bottom-item:active{
    opacity: 0.6;
}

.main-bottom-item:nth-child(1){
    background-image: url(../img/deep-earth.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.main-bottom-item:nth-child(2){
    background-image: url(../img/night-arcade.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.main-bottom-item:nth-child(3){
    background-image: url(../img/soccer-team-vr.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.main-bottom-item:nth-child(4){
    background-image: url(../img/the-grid.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.main-bottom-item:nth-child(5){
    background-image: url(../img/from-up.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.main-bottom-item:nth-child(6){
    background-image: url(../img/pocket-borealis.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.main-bottom-item:nth-child(7){
    background-image: url(../img/the-curiosity.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.main-bottom-item:nth-child(8){
    background-image: url(../img/make-it-fisheye.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.main-bottom-link{
    display: block;
    margin: 0;
    padding: 0;
    padding: 224px 110px 32px 40px;
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
    font-family: var(--font-family-heading);
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    cursor: pointer;
}


/* FOOTER */
.footer{
    background-color: var(--black-color);
}

.site-footer {
    padding-top: 44px;
    padding-bottom: 44px;
}

.site-footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.site-footer-socials {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-footer-link {
    display: inline-block;
    transition:border-bottom 0.4s ease ;
    border-bottom: 2px solid transparent;
}

.site-footer-link:hover{
    border-bottom: 2px solid var(--white-color);
}

.site-footer-link:active{
    opacity: 0.6;
}

.site-footer-link:not(:last-child){
    margin-right: 24px;
}

.site-footer-logo {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.site-footer-protective{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-footer-protective-text{
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
}


/* RETINA-BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .main-bottom-item:nth-child(1){
        background-image: url(../img/deep-earth@2x.jpg);
        background-repeat:no-repeat;
        background-size: cover;
    }

    .main-bottom-item:nth-child(2){
        background-image: url(../img/night-arcade@2x.jpg);
        background-repeat:no-repeat;
        background-size: cover;
    }

    .main-bottom-item:nth-child(3){
        background-image: url(../img/soccer-team-vr@2x.jpg);
        background-repeat:no-repeat;
        background-size: cover;
    }

    .main-bottom-item:nth-child(4){
        background-image: url(../img/the-grid@2x.jpg);
        background-repeat:no-repeat;
        background-size: cover;
    }

    .main-bottom-item:nth-child(5){
        background-image: url(../img/from-up@2x.jpg);
        background-repeat:no-repeat;
        background-size: cover;
    }

    .main-bottom-item:nth-child(6){
        background-image: url(../img/pocket-borealis@2x.jpg);
        background-repeat:no-repeat;
        background-size: cover;
    }

    .main-bottom-item:nth-child(7){
        background-image: url(../img/the-curiosity@2x.jpg);
        background-repeat:no-repeat;
        background-size: cover;
    }

    .main-bottom-item:nth-child(8){
        background-image: url(../img/make-it-fisheye@2x.jpg);
        background-repeat:no-repeat;
        background-size: cover;
    }

    .site-header-hero-wrapper {
        background-image: url(../img/hero-bg@2x.jpg);
    }

}
